.App {
  text-align: center;
  background-color: #fff1e6;
  color: #d3ab9e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.snacks {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.snacks section {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  align-items: center;
  color: #654321;
}

.snacks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
}

.snacks img {
  width: auto;
  height: 200px;
}

.snacks img:hover {
  width: auto;
  height: 270px;
  border-radius: 50%;
}

.snacks button {
  align-items: center;
  margin: 10%;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
  font-weight: bolder;
  font-size: xx-large;
}

.snacks span {
  padding: 2px;
}


.snacks span {
  padding: 10px;
  background-color: #eddcd2;
  margin-right: 10px;
  margin-left: 10px;
  color: #654321;
}

.App {
  background-color: #fff1e6;
  color: #d3ab9e;
}

.NavBar {
  background-color: #eddcd2;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  align-items: center;
  color: #654321;
}

.NavBar button {
  align-items: center;
  margin: 10%;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
  font-weight: bolder;
  font-size: xx-large;
}

.NavBar a {
  text-decoration: none;
  color: #654321;
}

.NavBar h1 a {
  color: black;
  font-size: xx-large;
  font-weight: bold;
}

.NavBar img {
  height: 70px;
}

.about a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.about a:hover {
  color: red;
}

.par {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.par span {
  font-style: italic;
}

.about h3 {
  text-align: left;
  padding-left: 25px;
}

.about img {
  width: 275px;
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
}

.info a {
  color: #654321;
}

.info a:hover {
  color: black;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #654321;
  margin: 20px;
}

.new form label {
  padding-top: 10px;
}

.submit {
  align-items: center;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
}

.Edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #654321;
}

.Edit form label {
  padding-top: 10px;
}

.Edit button {
  align-items: center;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
}

.about h4 {
  color: #654321;
}

.Home a {
  color: #654321;
}

.Home p {
  color: #654321;
}

.snack-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15%;
  color: #654321;
}

.snack-details img {
  width: auto;
  height: 400px;
}

.snack-details button {
  align-items: center;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
}

.snack-details a {
  text-decoration: none;
  color: #654321;
}

.snack-details span {
  padding: 0.2%;
}

.detail-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.not-found{
  background-image: url('./assets/404.jpeg');
  height: 600px;
}