.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.snacks {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.snacks section {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  align-items: center;
  color: #654321;
}

.snacks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
}

.snacks img {
  width: auto;
  height: 200px;
}

.snacks img:hover {
  width: auto;
  height: 270px;
  border-radius: 50%;
}

.snacks button {
  align-items: center;
  margin: 10%;
  padding: 10px;
  background-color: #eddcd2;
  border-radius: 15%;
  font-weight: bolder;
  font-size: xx-large;
}

.snacks span {
  padding: 2px;
}


.snacks span {
  padding: 10px;
  background-color: #eddcd2;
  margin-right: 10px;
  margin-left: 10px;
  color: #654321;
}

.App {
  background-color: #fff1e6;
  color: #d3ab9e;
}